<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css ">
  <title>Document</title>
</head>

<body>
  
  <div class="container wrapper">
    <h1>Let's eat</h1>
    <button [routerLink]="['/restaurants']">Restaurants</button>
    <button [routerLink]="['/restaurants/new']">New Restaurant</button>

    <button [routerLink]="['/beta']">Load Beta</button>
  </div>
  <div class="container wrapper">
    <router-outlet></router-outlet>
  </div>
</body>

</html>